body {
    background-color: #EBECEE;
}

    div {
        display: inline-block;
        width: 100%;
        background-color: red;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    p {
        display: inline-block;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 100px;

    }